$comDialogWidth:240px;
$comDialogHeight:50px;
.dialog-box {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  .com-dialog {
    position: fixed;
    width: $comDialogWidth;
    color: var(--color-white);
    //background-color: var(--color-primary);
    z-index: 666;
    background-color: var(--color-primary);
    border-radius: 25px;
    height: $comDialogHeight;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
